    <div class="container">
        <div class="box" id="box">
            <div class="cube" id="cube" onclick="movement(), notmovement()"></div>
        </div>
    </div>

    <div class="scripts">
        <h1 id="h1"></h1>
    </div>

    <div class="panel" id="panel">

        <h4 class="h1Panel" id="h1Panel">Escolha um cor:</h4>

        <div class="colors"></div>
            <input id="blue" type="button" value="BLUE" onclick="chooseColorBlue()"> 
            <input id="green" type="button" value="GREEN" onclick="chooseColorGreen()"> 
            <input id="yellow" type="button" value="YELLOW" onclick="chooseColorYellow()">
             
            <div class="name">

        <form action="/visitor" method="POST">

                
                        <h3 class="h3Name" id="h3Name">Escreva seu nome:</h3>
                        <input type="text" class="inputName" name="name">

                <div class="language">
                    <h4 class="h4Language" id="h4Language">Escolha o idioma:</h4>

                    <div class="optLanguage">
                        <h5 class="h5_1" id="h5_1" onclick="translationPort()">PORT</h5>
                        <h5 class="h5_2" id="h5_2" onclick="translationIng()">ENG</h5>
                    </div>
                </div>


            
            <button type="submit" class="h2Init" id="h2Init">INICIAR</button>    

        </form>

        </div> 

        {{!-- Debugador  --}}
        <div id="controlStart"></div>
        <div id="content"></div>

        <div class="control">
            <h1 class="h1Control" id="h1Contro1">⇦</h1>
            <div>
                <h1 class="h1Contro1t" id="h1Contro1t">⇩</h1>
                <h1 class="h1Contro1o">⇧</h1>
            </div>
            <h1 class="h1Contro1r" id="h1Contro1r">⇨</h1>
        </div>

    </div>

