         <div class="container">

            <div class="box" id="box">
                <div class="cube" id="cube" onclick="movement(), notmovement()"></div>
            </div>

        </div>

    <div class="scripts">

        <h1 id="h1"></h1>

    </div>
    
    <body onload="">
        
        <div id="content">

            <div class="controlStart" id="controlStart">

                <h1 class="h1Control" id="h1Contro1">⇦</h1>

                <div>

                    <h1 class="h1Contro1t" id="h1Contro1t">⇩</h1>
                    <h1 class="h1Contro1o">⇧</h1>

                </div>

                <h1 class="h1Contro1r" id="h1Contro1r">⇨</h1>
                
            </div>

            <div id="tips">

                <h2 id="startTips" onclick="Transl()">* Use apenas o Botão Esquerdo do mouse para se locomover.
                    <br>
                    <br>Locomção através das Setas estão em desenvolvimento.
                    <br>
                    <br>Precione F11 e coloque seu Fone de Ouvido pra uma melhor experiência.
                    <br>
                    <br>E divirta-se ;D</h2>

            </div>

        </div>

    </body>
    